---
import Layout from '../layouts/Layout.astro';
import SetOperations from '../components/Operaciones';
import Header from '../components/Head.astro'
---

<Layout title="Operaciones con conjuntos.">
	<main>
		<Header/>
		<SetOperations client:visible/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

</style>
