---
import Layout from '../layouts/Layout.astro';
import SetOperations from '../components/Operaciones';
import Header from '../components/Head.astro'
import Background from '../components/Background.astro'
import ContentInfo from '../components/Content_info.astro';
---

<Layout title="Operaciones con conjuntos.">
	<main>
		<Background/>
		<Header/>
		<SetOperations client:visible/>	
		<ContentInfo/>
	</main>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

</style>
