---
---
<section>
    <div class="mt-20 h-80 w-96 border border-lime-400 overflow-hidden p-5 box-border">
        <h3>
            LOREM
        </h3>
        <span class=" text-balance">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed neque quisquam veritatis expedita ratione. Nesciunt laborum distinctio harum deserunt repellat.
        </span>
    </div>
</section>